---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <Header/>
	<main class="container mx-auto py-16 px-4 lg:px-20">
        <!-- Introducción -->
        <section class="mb-16 text-white" >
            <h2 class="text-5xl font-semibold mb-8 text-[#c48f5b]">BIENVENIDO A NUESTRA FAMILIA COGNITO</h2>
            <p class="leading-relaxed text-2xl">Nos emociona lo que estás por comenzar. En esta guía encontrarás los pilares, beneficios y recursos que te proporcionará este método para transformar tu vida personal, profesional y espiritual. Cógnito no solo es un sistema, es una comunidad que trabaja contigo para alcanzar el éxito real desde el SER.</p>
        </section>
    
        <!-- Guía de inicio -->
        <section class="mb-16 text-white">
            <h3 class="text-3xl font-semibold mb-8 text-[#c48f5b]">GUÍA DE INICIO</h3>
            <p class="leading-relaxed text-2xl">A continuación te enviamos una guía de inicio donde encontrarás las plataformas de cada uno de los servicios que adquiriste en tu membresía. No te desesperes, hasta ahora solo necesitas conocer por encima nuestro ecosistema. Más adelante nos centraremos en cada una de ellas.</p>
        </section>
    
   <!-- INN ACADEMY - INN TV -->
<section class="mb-16 text-white">
    <h3 class="text-3xl font-semibold mb-8 text-[#c48f5b]">📊 INN ACADEMY - INN TV</h3>
    <p class="text-xl">Entra a INN ACADEMY - INN TV y descubre todo lo que ofrece.</p>
    <a href="https://innacademy.net" class="inline-block px-6 py-3 mt-4 mb-8 text-lg font-medium text-white bg-blue-500 hover:bg-blue-600 rounded-lg">Visitar INN ACADEMY</a>
    <p class="mt-2 text-xl">Cómo usarla:</p>
    <div class="my-8 flex justify-center">
        <div class="relative w-full lg:w-1/2 md:w-7/10 sm:w-full" style="aspect-ratio: 16/9;">
            <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/K26OewrVEdg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <p class="text-red-500 mt-8 text-2xl">🚨 PARA INN TV, ADICIONAL A LO QUE VERÁS EN ESTE VIDEO, TE RECOMENDAMOS ESTAR PENDIENTE DE LA AGENDA SEMANAL QUE SE TE ENVÍA POR CORREO.</p>
</section>

<!-- INN TRADE -->
<section class="mb-16 text-white">
    <h3 class="text-3xl font-semibold mb-8 text-[#c48f5b]">📕 INN TRADE</h3>
    <p class="text-xl">Accede a INN TRADE y aprende a cómo usarlo.</p>
    <a href="https://app.inntrade.tech/" class="inline-block px-6 py-3 mt-4 mb-8 text-lg font-medium text-white bg-blue-500 hover:bg-blue-600 rounded-lg">Visitar INN TRADE</a>
    <p class="mt-2 text-xl">Cómo usar INN TRADE:</p>
    <div class="my-8 flex justify-center">
        <div class="relative w-full lg:w-1/2 md:w-7/10 sm:w-full" style="aspect-ratio: 16/9;">
            <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/59Mi7cBtXzs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<!-- INN TALK -->
<section class="mb-16 text-white">
    <h3 class="text-3xl font-semibold mb-8 text-[#c48f5b]">🤟 TALK INN</h3>
    <p class="text-xl">Conoce cómo usar TALK INN.</p>
    <a href="https://www.talkinn.tech/" class="inline-block px-6 py-3 mt-4 mb-8 text-lg font-medium text-white bg-blue-500 hover:bg-blue-600 rounded-lg">Visitar TALK INN</a>
    <p class="mt-2 text-xl">Cómo usar INN TALK:</p>
    <div class="my-8 flex justify-center">
        <div class="relative w-full lg:w-1/2 md:w-7/10 sm:w-full" style="aspect-ratio: 16/9;">
            <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/67T0zdiW4FY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<!-- INN TRAVEL -->
<section class="mb-16 text-white">
    <h3 class="text-3xl font-semibold mb-8 text-[#c48f5b]">🛩️ INN TRAVEL</h3>
    <p class="text-xl">Accede a INN TRAVEL para descubrir sus funciones.</p>
    <a href="https://travel.innovatravel.net/" class="inline-block px-6 py-3 mt-4 mb-8 text-lg font-medium text-white bg-blue-500 hover:bg-blue-600 rounded-lg">Visitar INN TRAVEL</a>
    <p class="mt-2 text-xl">Cómo usar INN TRAVEL:</p>
    <div class="my-8 flex justify-center">
        <div class="relative w-full lg:w-1/2 md:w-7/10 sm:w-full" style="aspect-ratio: 16/9;">
            <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/VEXTU46OUE0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<!-- Ecosistema Cripto -->
<section class="mb-16 text-white">
    <h3 class="text-3xl font-semibold mb-8 text-[#c48f5b]">PASO 1: ENTENDER EL ECOSISTEMA CRIPTO</h3>
    <p class="text-xl">Es importante entender cómo funciona el ecosistema cripto. Aquí te dejamos algunos recursos:</p>
    
    <!-- Binance -->
    <div class="my-8 text-white">
        <h4 class="text-2xl font-semibold text-[#c48f5b]">1. TODO LO QUE DEBES SABER SOBRE BINANCE:</h4>
        <div class="my-8 flex justify-center">
            <div class="relative w-full lg:w-1/2 md:w-7/10 sm:w-full" style="aspect-ratio: 16/9;">
                <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/bP5_vY3EPhw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- Depositar y retirar -->
    <div class="my-8 text-white">
        <h4 class="text-2xl font-semibold text-[#c48f5b]">2. CÓMO DEPOSITAR Y RETIRAR MI DINERO DE BINANCE:</h4>
        <div class="my-8 flex justify-center">
            <div class="relative w-full lg:w-1/2 md:w-7/10 sm:w-full" style="aspect-ratio: 16/9;">
                <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/BK-cS4FJvy8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- Futuros en Cripto -->
    <div class="my-8 text-white">
        <h4 class="text-2xl font-semibold text-[#c48f5b]">3. FUTUROS EN CRIPTOMONEDAS:</h4>
        <div class="my-8 flex justify-center">
            <div class="relative w-full lg:w-1/2 md:w-7/10 sm:w-full" style="aspect-ratio: 16/9;">
                <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/NqLTdKOV-bw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<!-- Indices Sintéticos -->
<section class="mb-16 text-white">
    <h3 class="text-3xl font-semibold mb-8 text-[#c48f5b]">PASO 2: INICIAR CON LOS ÍNDICES SINTÉTICOS</h3>
    
    <!-- Crear cuenta en DERIV -->
    <div class="my-8 text-white">
        <h4 class="text-2xl font-semibold text-[#c48f5b]">1. CÓMO CREAR LA CUENTA EN DERIV, DEPOSITAR Y RETIRAR:</h4>
        <div class="my-8 flex justify-center">
            <div class="relative w-full lg:w-1/2 md:w-7/10 sm:w-full" style="aspect-ratio: 16/9;">
                <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/8t8oZ7T558o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- Copiar y pegar señales en MT5 -->
    <div class="my-8 text-white">
        <h4 class="text-2xl font-semibold text-[#c48f5b]">2. CÓMO COPIAR Y PEGAR LAS SEÑALES DE NUESTROS TRADERS EN MT5:</h4>
        <div class="my-8 flex justify-center">
            <div class="relative w-full lg:w-1/2 md:w-7/10 sm:w-full" style="aspect-ratio: 16/9;">
                <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/5pAeZ-X1QUs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

    
        <!-- Crear cuenta Forex -->
        <section class="mb-16 text-white">
            <h3 class="text-3xl font-semibold mb-8 text-[#c48f5b]">PASO 3: CREAR CUENTA DE FOREX EN TU BROKER FAVORITO</h3>
            <p class="text-2xl mb-8">Descarga las aplicaciones necesarias:</p>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 text-center text-xl">
                <div class="p-4 border rounded-lg shadow-lg hover:shadow-xl transform hover:scale-105 transition-all">
                    <img src="https://handwiki.org/wiki/images/f/fa/MetaTrader_5_Clear_240px.png" alt="Logo MT5" class="w-16 h-16 mx-auto mb-4" />
                    <p class="font-semibold">MT5</p>
                    <a href="https://play.google.com/store/apps/details?id=net.metaquotes.metatrader5" target="_blank" class="bg-green-500 text-white py-2 px-6 rounded-md hover:bg-green-600 inline-block w-full mb-2">Descargar para Android</a><br>
                    <a href="https://apps.apple.com/us/app/metatrader-5/id413288377" target="_blank" class="bg-black text-white py-2 px-6 rounded-md hover:bg-gray-800 inline-block w-full">Descargar para iPhone</a>
                </div>
                <div class="p-4 border rounded-lg shadow-lg hover:shadow-xl transform hover:scale-105 transition-all">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5A_ozDZQerqlMrR_guz-PwMPJlUoNcpQUkw&s" alt="Logo MT4" class="w-16 h-16 mx-auto mb-4" />
                    <p class="font-semibold">MT4</p>
                    <a href="https://play.google.com/store/apps/details?id=net.metaquotes.metatrader4" target="_blank" class="bg-green-500 text-white py-2 px-6 rounded-md hover:bg-green-600 inline-block w-full mb-2">Descargar para Android</a><br>
                    <a href="https://apps.apple.com/us/app/metatrader-4/id496212596" target="_blank" class="bg-black text-white py-2 px-6 rounded-md hover:bg-gray-800 inline-block w-full">Descargar para iPhone</a>
                </div>
                <div class="p-4 border rounded-lg shadow-lg hover:shadow-xl transform hover:scale-105 transition-all">
                    <img src="https://cdn.worldvectorlogo.com/logos/zoom-app.svg" alt="Logo Zoom" class="w-16 h-16 mx-auto mb-4" />
                    <p class="font-semibold">Zoom</p>
                    <a href="https://play.google.com/store/apps/details?id=us.zoom.videomeetings" target="_blank" class="bg-green-500 text-white py-2 px-6 rounded-md hover:bg-green-600 inline-block w-full mb-2">Descargar para Android</a><br>
                    <a href="https://apps.apple.com/us/app/zoom-cloud-meetings/id546505307" target="_blank" class="bg-black text-white py-2 px-6 rounded-md hover:bg-gray-800 inline-block w-full">Descargar para iPhone</a>
                </div>
                <div class="p-4 border rounded-lg shadow-lg hover:shadow-xl transform hover:scale-105 transition-all">
                    <img src="https://open-store.io/icons/mixlr.rubencarneiro/mixlr.rubencarneiro-1.0.0.png" alt="Logo Mixlr" class="w-16 h-16 mx-auto mb-4" />
                    <p class="font-semibold">Mixlr</p>
                    <a href="https://play.google.com/store/apps/details?id=com.mixlr.android" target="_blank" class="bg-green-500 text-white py-2 px-6 rounded-md hover:bg-green-600 inline-block w-full mb-2">Descargar para Android</a><br>
                    <a href="https://apps.apple.com/us/app/mixlr/id659614524" target="_blank" class="bg-black text-white py-2 px-6 rounded-md hover:bg-gray-800 inline-block w-full">Descargar para iPhone</a>
                </div>
                <div class="p-4 border rounded-lg shadow-lg hover:shadow-xl transform hover:scale-105 transition-all">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/1200px-Telegram_2019_Logo.svg.png" alt="Logo Telegram" class="w-16 h-16 mx-auto mb-4" />
                    <p class="font-semibold">Telegram</p>
                    <a href="https://play.google.com/store/apps/details?id=org.telegram.messenger" target="_blank" class="bg-green-500 text-white py-2 px-6 rounded-md hover:bg-green-600 inline-block w-full mb-2">Descargar para Android</a><br>
                    <a href="https://apps.apple.com/us/app/telegram-messenger/id686449807" target="_blank" class="bg-black text-white py-2 px-6 rounded-md hover:bg-gray-800 inline-block w-full">Descargar para iPhone</a>
                </div>
                <div class="p-4 border rounded-lg shadow-lg hover:shadow-xl transform hover:scale-105 transition-all">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Binance_Logo.svg/768px-Binance_Logo.svg.png" alt="Logo Binance" class="w-16 h-16 mx-auto mb-4" />
                    <p class="font-semibold">Binance (no el US)</p>
                    <a href="https://play.google.com/store/apps/details?id=com.binance.dev" target="_blank" class="bg-green-500 text-white py-2 px-6 rounded-md hover:bg-green-600 inline-block w-full mb-2">Descargar para Android</a><br>
                    <a href="https://apps.apple.com/us/app/binance/id1436799971" target="_blank" class="bg-black text-white py-2 px-6 rounded-md hover:bg-gray-800 inline-block w-full">Descargar para iPhone</a>
                </div>
            </div>
        </section>
        
    
        <!-- Soporte -->
        <section class="mb-16 text-white">
            <h3 class="text-3xl font-semibold mb-8 text-[#c48f5b]">SOPORTE</h3>
            <p class="text-xl">Si necesitas soporte, no dudes en contactar el servicio de soporte de INNOVA:</p>
            <a href="https://wa.me/12673629142?text=Hola%20Equipo%20de%20Soporte" class="inline-block px-6 py-3 mt-4 mb-8 text-lg font-medium text-white bg-blue-500 hover:bg-blue-600 rounded-lg">Contactar soporte</a>
            <p class="text-red-500 mt-8 text-3xl">🚨 SI NO LOGRAS SOLUCIONAR CON SOPORTE, BUSCA A TU LÍDER.</p>
        </section>
    
        <div class="text-center text-white">
            <p class="mt-8 text-xl text-gray-500 dark:text-gray-400">
                Una vez termines esta guía, contacta a la persona que te ingresó a INNOVA y te ayudará a aclarar dudas.
            </p>
        </div>
    </main>
    
 <Footer/>
    
</Layout>