---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import Layout from "../layouts/Layout.astro"
---

    <Layout>
        <Header/>
        <main class="container mx-auto py-16 px-4 lg:px-20 ">
            <!-- Introducción -->
            <section class="mb-16">
                <h2 class="text-5xl font-semibold mb-6 text-[#c48f5b]">Bienvenido</h2>
                <p class="leading-relaxed text-2xl text-white">Nos emociona lo que estás por comenzar. En esta guía encontrarás los pilares, beneficios y recursos que te proporcionará este método para transformar tu vida personal, profesional y espiritual. Cógnito no solo es un sistema, es una comunidad que trabaja contigo para alcanzar el éxito real desde el SER.</p>
            </section>
        
            <!-- Pilares del Método Cognito -->
            <section class="mb-16">
                <h2 class="text-5xl font-semibold mb-6 text-[#c48f5b]">¿Qué es el Método Cognito?</h2>
                <ul class="list-disc pl-6 space-y-4 text-2xl">
                    <li class="text-white"><strong class="text-[#c48f5b]">Crecimiento personal:</strong> Primero ser para luego tener.</li>
                    <li class="text-white"><strong class="text-[#c48f5b]">Educación consciente:</strong> Herramientas prácticas en negocios, liderazgo y conciencia.</li>
                    <li class="text-white"><strong class="text-[#c48f5b]">Acción estratégica:</strong> Planes claros y estructurados para resultados sostenibles.</li>
                    <li class="text-white"><strong class="text-[#c48f5b]">Mentalidad de equipo:</strong> Potencia tus metas dentro de una comunidad que te apoya.</li>
                </ul>
            </section>
        
            <!-- Mandamientos -->
            <section class="mb-16">
                <h2 class="text-5xl font-semibold mb-16 text-[#c48f5b]">Los Mandamientos del Método</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
                   <!-- Mandamiento 1 -->
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="https://drive.google.com/file/d/1PLIAx5hjwBOl4C9QaG2osxBOSZeES0FC/view?usp=sharing">
                            <img class="rounded-t-lg" src="../../public/mandamiento1.png" alt="Mandamiento 1" />
                        </a>
                    </div>

                    <!-- Mandamiento 2 -->
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="https://drive.google.com/file/d/1F81aRYOins7DMLx4MrrZktVU3LnDz8XK/view?usp=sharing">
                            <img class="rounded-t-lg" src="../../public/mandamiento2.png" alt="Mandamiento 2" />
                        </a>
                    </div>

                    <!-- Mandamiento 3 -->
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="https://drive.google.com/file/d/1rZ4ormShKsEIHlqzCVrn0ilZUoTatP5s/view?usp=sharing">
                            <img class="rounded-t-lg" src="../../public/mandamiento3.png" alt="Mandamiento 3" />
                        </a>
                    </div>

                    <!-- Mandamiento 4 -->
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="https://drive.google.com/file/d/1g1oyWpGzoGkKKLCUNQsTffSNBS3bQgmi/view?usp=sharing">
                            <img class="rounded-t-lg" src="../../public/mandamiento4.png" alt="Mandamiento 4" />
                        </a>
                    </div>

                    <!-- Mandamiento 5 -->
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="https://drive.google.com/file/d/1WVQvPdPvr5rcFEaRdLFawrCCClg2ICto/view?usp=sharing">
                            <img class="rounded-t-lg" src="../../public/mandamiento5.png" alt="Mandamiento 5" />
                        </a>
                    </div>

                    <!-- Mandamiento 6 -->
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="https://drive.google.com/file/d/1gpt9-zWE1RlIdwX0-WsVKi4yh2mqH28v/view?usp=sharing">
                            <img class="rounded-t-lg" src="../../public/mandamiento6.png" alt="Mandamiento 6" />
                        </a>
                    </div>

                    <!-- Mandamiento 7 -->
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="https://drive.google.com/file/d/1gOJFq8VB9PGTO2B4nG3htv7u3w6hjIRa/view?usp=sharing">
                            <img class="rounded-t-lg" src="../../public/mandamiento7.png" alt="Mandamiento 7" />
                        </a>
                    </div>

                    <!-- Mandamiento 8 -->
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="https://drive.google.com/file/d/1WsNzaDUAoHvPABYoSFhi3Xt3lI_Fw3ZB/view?usp=sharing">
                            <img class="rounded-t-lg" src="../../public/mandamiento8.png" alt="Mandamiento 8" />
                        </a>
                    </div>

                    <!-- Mandamiento 9 -->
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="https://drive.google.com/file/d/1MsMXHBUzuymirLFp7MVV-51pE5J2F2si/view?usp=sharing">
                            <img class="rounded-t-lg" src="../../public/mandamiento9.png" alt="Mandamiento 9" />
                        </a>
                    </div>

            </section>

        
            <!-- Cómo funciona el método -->
            <section class="mb-16">
                <h2 class="text-5xl font-semibold mb-6 text-[#c48f5b]">Cómo funciona el Método</h2>
                <ol class="list-decimal pl-6 space-y-4 text-2xl text-white">
                    <li>Realiza las tareas propuestas en cada eBook y comparte tu progreso con la comunidad.</li>
                    <li>Asiste a los webinars para resolver dudas y reforzar tu aprendizaje.</li>
                    <li>Avanza al siguiente eBook según el plan establecido y sigue los lineamientos del Método Cognito.</li>
                </ol>
            </section>
        </main>
        
    <Footer/>
    </Layout>
