*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:#0b0b0b;
    margin-bottom: 2rem;
}
.h2-center {
    width: 100%;
    background-color: rgb(255, 78, 78);
    padding: 2rem 1rem;
}
.h2-center h2{
    color: white;
    font-size: 2rem;
    text-align: center;
    
}
#vd {
    padding: 0 2rem;
    margin-bottom: 3rem;
}
.h2-center .small {
    font-size: 1.4rem;
}
.video {
    width: 100%;
    height: 300px;
}
.blanco-1 {
    width: 100%;
    background-color: white;
}
.blanco-1 .flex-1 h3 {
    color: #0b0b0b;
}
.blanco-1 .flex-1 .button {
    color: #0b0b0b;
    font-weight: bolder;
}
#orakle {
    object-fit: cover;
}
#mk {
    object-fit: cover;
}
.button {
    outline: 2px solid rgb(87, 87, 87);
  color: white;
  padding: 1rem 2rem;
  font-weight: 400;
  transition: .3s;
  text-align: center;
  border: none;
  text-transform: uppercase;
  margin-top: 1rem;
  }
  .button:hover {
    background-color: antiquewhite;
    color: black;

  }
  .flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .flex-center .button {
    color: black;
  }
  .plan-educativo .text-align p{
    text-align: left;
  }
.plan-educativo .text-align a{
    color: #0b0b0b;
    text-align: left;
  }
.Baner {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 2.2em;
    margin: 3rem 0;
}
.flex-1 {
    margin-top: 6rem;
    padding:0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 90px;
    padding-bottom: 10rem;
}
.flex-1 div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

  .flex-1 div h2 {
    color:  white;
    text-align: center;
    line-height: 1.5;
    font-size: 2rem;
    margin-top: 1rem;
    text-transform: uppercase;
  }
  .flex-1 div p {
    color: #b6b6b6;
    text-align: center;
    line-height: 1.5;
    font-size: 1.3rem;
    margin-top: .5rem;
  }
 .flex-1 div h3 {
    color:  white;
    text-align: center;
    line-height: 1.5;
    font-size: 1.6rem;
    margin-top: 1rem;
    text-transform: uppercase;
 }
.flex-1 img {
    width: 20rem;
    height: 20rem;
    border-radius: 60rem;
}
.plan-educativo {
    margin-top: 4rem;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white !important;
    width: 100%;
}
.plan-educativo h2 {
    font-size: 2.2em;
    text-align: center;

}
.plan-educativo p {
    line-height: 1.5;
    padding: 10px;
    width: 90%;
    text-align: center;
    font-size: 1.6em;
    color: #0b0b0b;
    text-decoration: none;
}
.plan-educativo .button {
    color: #0b0b0b;
}
.tiposMercado {
    margin-top: 2rem;
}
.tiposMercado h2{
    text-align: center;
    font-size: 2.2em;
    color: white;
    padding: 1.5rem;
}
.tiposMercados h2 {
    margin: 2rem 0;
    font-size: 2.2em;
    text-align: center;
    color: white;
}
.blanco {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding:4rem 1.5rem;
}
.blanco h2 {
    color: #0b0b0b;
    margin: 2rem 0;
    text-align: center;
    text-transform: uppercase;
}
.negro {
    width: 100%;
    padding:4rem 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.negro h2 {
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}
@media screen and (min-width: 768px) {
    .Baner {
        font-size: 3rem;
    }
    .video {
        width: 70%;
        height: 700px;
        margin-bottom: 5rem;
    }
    .flex-1 {
        margin-top: 7rem;
        flex-direction: row;
        gap: 40px;
        flex-wrap: wrap;
    }
    .flex-1 .Marketing  p {
       width: 350px;
      }
      .flex-1 .Traiding p {
        width: 300px;
        
      }
      .blanco {
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-direction: row;
        padding: 5rem 3rem;
    }
    .blanco .video {
        width: 40rem;
        height: 25rem;
    }
    .negro {
        width: 100%;
        display: flex ;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
        padding:5rem 3rem;
    }
    .negro .video {
        width: 40rem;
        height: 25rem;
        
    }
    .blanco h2 , .negro h2 {
        width: 30rem;
        font-size: 2em;
    }
    .h2-center {
        width: 100%;
        background-color: rgb(255, 78, 78);
        padding: 4rem;
    }
    .h2-center h2 {
        color: white;
        font-size: 3em;
    }
}